@import "../../styles/colors";

.thumbnail {
  font-weight: lighter;
  font-size: 0.85rem;
  color: $secondary-font-color;
}

.thumbnail .albumUrl {
  color: $primary-font-color;
}

img {
  border: 2px solid $img-border-color;
  border-radius: 5px;
  width: 100%;
}

.meta:hover {
  text-decoration: none;
}
