@import "../../styles/colors";

.header {
  color: $secondary-font-color;
}

.header a{
  color: inherit;
  font-size: 1.3rem;
}

.header a:hover {
  color: $primary-font-color;
}

.button {
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
  color: inherit;
}

//todo color constant
.button:hover {
  color: white;
  background-color: $secondary-font-color;
}

.button a:hover {
  color: white;
  text-decoration: none;
}
