@import "../../styles/colors";

.header {
  color: $secondary-font-color;
}

.header a{
  color: inherit;
  font-size: 1.3rem;
}

.header a:hover {
  color: $primary-font-color;
}

.img {
  border: 2px solid $img-border-color;
  border-radius: 5px;
  width: 100%;
}
