@import "../../styles/colors";

.row {
  font-weight: lighter;
  color: $secondary-font-color;
  border-bottom: 1px solid $border-color;
  text-transform: capitalize;
}

.row > li:hover {
  color: $primary-font-color;
  cursor: pointer;
}

.row a {
  color: inherit;
  text-decoration: none;
}
