@import "../../styles/colors";

.header {
  font-size: 1rem;
}

.footerList a {
  font-size: 0.8rem;
  color: $secondary-font-color;
  text-transform: capitalize;
}

.footerList a:hover {
  color: $primary-font-color;
  text-decoration: none;
}
